# Python
__pycache__
*.pyc

# Mac related
.DS_Store

# J Notebook
.ipynb_checkpoints/

# tmp
server/tmp/**
!server/tmp/.gitkeep

# model
server/model/data/**
!server/model/data/.gitkeep
server/model/weights/**
!server/model/weights/.gitkeep

# Model checkpoints or .h5
*.h5
checkpoints/
tf-linux.yml
/.idea/
